/MyProject/nbproject/private/
/MyProject/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/PT/nbproject/private/
/PT/build/
/Bai1/nbproject/private/
/Bai1/build/
/Bai1/dist/
/Bai2/nbproject/private/
/Bai2/build/
/Bai2real/nbproject/private/
/Bai2real/build/
/Bai3/nbproject/private/
/Bai3/build/
/Bai3real/nbproject/private/
/Bai3/dist/
/BT2/nbproject/private/
/BT2/build/
/BT2/dist/
/DeMo/nbproject/private/
/B2/nbproject/private/
/B2/build/
/B2/dist/
/Bai2real/dist/
